#TitleBarBtns{
    display: flex;
    width: 100px;
    height: 100%;
    -webkit-app-region:none;
    div{
        flex: 1;
        text-align: center;
        color: #333;
        cursor: pointer;
    }
    div:hover{
        background: #ddd;
    }
    div i{
        font-size: 10px;
    }
    #closeBtn:hover{
        background: #e81123 !important;    
        color: #FFF !important;    
    }
}